<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ application.title }}</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <header>
      <div class="title-bar">
        <h1><a href="https://github.com/SK1Y101/AutoBreezeBeats">{{ application.title }}</a> v{{ application.version }}</h1>
        <h1 ><div id="datetime">13:14:89</div><div id="weather"></div></h1>
        <h1>{{ host.name }} at {{ host.ip }}</h1>
      </div>
    </header>

    <section class="main-content">
      <div class="video-section">
        <div>
          <h2 id="current-title"></h2>
          <div class="thumbnail-container">
            <img id="current-thumbnail" src="" style="height:720px; width:1280px; background-color: darkgrey;">
            <div id="current-chapter" class="top-left"></div>
          </div>
          <div class="playback-container">
            <progress id="progress" class="timeline-bar" value="0" max="100"></progress>
            <div class="controls">
              <span class="control-buttons">
                <div id="elapsed-time">0:00:00</div> / <div id="total-time">0:00:00</div>
              </span>
              <!-- ▶️⏩⏭️⏪⏸️ -->
              <button class="control-button" id="skip-previous" disabled>⏪</button>
              <button class="control-button center-button" id="play-pause">▶</button>
              <button class="control-button" id="skip-next" disabled>⏩</button>
              <button class="control-button" id="skip-full">⏭️</button>
            </div>
          </div>
        </div>
      </div>
      <div class="queue-section">
        <h2>Up next:</h2>
        <table id="queue-list">
        </table>
      </div>
    </section>

    <br>
    <hr>

    <section class="sub-content">
      <div class="device-section">
        <h2>Devices list</h2>
        <button onclick="setSink()">Reset Primary</button>
        <div id="device-list">
        </div>
      </div>

      <div class="search-section">
        <h2>Add to Queue</h2>
        <form id="VideoForm" action="/video" method="post">
          <label for="url">Add by URL:</label>
          <input type="text" name="url" required>
          <button type="submit">Search</button>
        </form>
        <form method="post" style="display: none;">
          <label for="query">Search Term:</label>
          <input type="text" name="query" required>
          <button type="submit">Search</button>
        </form>
        <div class="search-results" style="display: none;">
          <div style="margin-right:5%; height:72px; width:128px; background-color:red;"><< Search result 0 >></div>
          <div style="margin-right:5%; height:72px; width:128px; background-color:red;"><< Search result 1 >></div>
          <div style="margin-right:5%; height:72px; width:128px; background-color:red;"><< Search result 2 >></div>
          <div style="margin-right:5%; height:72px; width:128px; background-color:red;"><< Search result 3 >></div>
          <div style="margin-right:5%; height:72px; width:128px; background-color:red;"><< Search result 4 >></div>
        </div>
      </div>
    </section>

    <script src="/static/script.js"></script>
    <script src="/static/devices.js"></script>
    <script src="/static/playback.js"></script>
  </body>
</html>
